<ion-header>
  <ion-toolbar>
    <ion-title>category</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-label>

    <ion-list>
      <ion-item-sliding>
        <ion-item>
            <ion-avatar slot="start">
                <img src="assets/img/drink.jpg">
            </ion-avatar>
          <ion-label>Drink</ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="success"><ion-icon name="eye"></ion-icon>View</ion-item-option>
          <ion-item-option color="primary"><ion-icon name="create"></ion-icon>Edit</ion-item-option>
          <ion-item-option color="danger"><ion-icon name="trash"></ion-icon>Delete</ion-item-option>      
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <ion-list>
        <ion-item-sliding>
          <ion-item>
              <ion-avatar slot="start">
                  <img src="assets/img/food.jpg">
              </ion-avatar>
            <ion-label>Food</ion-label>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="success"><ion-icon name="eye"></ion-icon>View</ion-item-option>
            <ion-item-option color="primary"><ion-icon name="create"></ion-icon>Edit</ion-item-option>
            <ion-item-option color="danger"><ion-icon name="trash"></ion-icon>Delete</ion-item-option>      
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>

  </ion-label>
</ion-content>

