<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Add new category</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <form [formGroup]="formGroup">
        <ion-label>
          <ion-list>
                <ion-item>
                  <ion-label position="floating">Category name</ion-label>
                  <ion-input required type="text" formControlName="name" ></ion-input>
                </ion-item>
                
                <ion-item>
                  <ion-label position="floating">Description</ion-label>
                  <ion-textarea  type="text-area" formControlName="description"></ion-textarea>
                </ion-item>

                <ion-button color="success" expand="block" (click)="addNewCategory()">SAVE
                </ion-button>
          </ion-list>
        </ion-label> 
    </form>
</ion-content>  

